{% extends "blacworld/members.html" %}
        {% block content %}
            <div class="content-section" style="text-align: center;background-color: rgba(0, 0, 0, 0.2); border-radius: 15px 100px; ">
                <div style="text-align: center; ">
                    <br>
                    <h4>Blaćgods </h4>
                    <p>
                        We're a <strong>Record Label</strong> and a family of Artists, Artistic thinkers, Geniuses and Business men working
                        together with the Sole purpose of Fortification...
                    </p>
                    <p>
                        When life gives you lemons, <strong>Blaćgods</strong> will always be here to give you a BIG hug and a little bit of
                        legal weed to clear your mind off of foggy thoughts.
                        Oh, yeah and good Arts too hehehe...
                    </p>
                    <p>
                        our Origination came from West Africa - Ghana, in the year 2017 and was founded by smart hard working young Men
                        & Women who fear nothing but God.
                    </p>
                    <p>
                        The <strong> Record Label / Team</strong> embodies different kinds of arts and businesses
                        which then cancels out the phrase, <strike> ONLY MUSIC </strike>.
                    </p>
                    <P>
                        For more Info, <strong>CONTACT</strong> us on our page or send us an Email via
                        <strong>blacgods@gmail.com</strong>
                    </P>
                    <p>
                        •iMperium <img width="20" height="20" src="https://img.icons8.com/cute-clipart/64/000000/diamond.png"/>
                    </p>

                    <img src="/media/images/power.jpg" width="100" height="100" />
                </div>
            </div>
        {% endblock content %}



